.LandingPageImage{
	background-image: url('../Images/LandingPage.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 50vh;
	color: white;
}
.LandingPageName{
	top: -50%;
}
