h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
	padding: 0px;
}
#Container{
	width: 80%;
	margin: auto;
	/* text-align: center; */
	display: block;
}
@media (min-width: 1600px) {
	#Container{
		width: 1400px;
		margin: auto;
	}
}
.Section{
	padding: 50px;
	text-align: center;
	color: white;
	background-color: black;
}
.Title{
	margin: 25px auto;
	text-align: center;
}
.SubTitle{
	margin: 0px auto 20px auto;
	text-align: center;
}
@media (max-width: 800px){
	.Title, .SubTitle{
		width: 90%;
	}
}
fieldset{
	border-style: none;
}
.BorderSeperation{
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
	width: 45%;
	margin: 20px auto;
	display: block;
}

a{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}
