
/*PAGE SECTIONS ========================== */
*{
	font-family: 'Open Sans', sans-serif;
}
.LandingSection{
	background-image: url('../Images/LandingPage.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.AboutSection{
	text-align: center;
}

/* NAV BAR =============================== */

.NavBarIcon{
	position: fixed;
  width: 40px;
  height: 60px;
  right: 20px;
  top: 5px;
  z-index: 2;
}
.NavBarIcon:hover{
	cursor: pointer;
}
.NavBarIcon:hover span{
	background: black;
}
.NavBarIcon span{
	display: block;
 /* position: absolute; */
 position: relative;
 margin: 15px auto;
 height: 2px;
 width: 100%;
 background: white;
 -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.NavBar{
	width: 100%;
	height: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: black;
	display: none;
}
.NavBar li{
	list-style-type: none;
	padding: 10px 0px;
	color: white;
}
@media (max-width: 700px) {
	.NavBar{
		flex-direction: column;
	}
	.NavBar li{
		text-align: center;
		margin: 0px 10px;
		padding: 10px 0px;
	}
}








/* LANDING SECTION ======================= */

.LandingSectionDescription{
	position: relative;
	top: 30%;
	text-align: center;
	font-size: 4em;
}
.CoffeeShop{
	background-image: url('../Images/CoffeeBar.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
}
.SeeMore1{
	text-align: center;
	position: relative;
	top: 65%;
}
.SeeMore2{
	text-align: center;
	position: relative;
	top: 65%;
}
@media (max-width: 900px){
 .LandingSectionDescription{
	 font-size: 2.5em;
 }
}
@media (max-width: 600px){
	.SeeMore1, .SeeMore2{
		display: none;
	}
	.LandingSectionDescription{
		font-size: 1.5em;
	}
}


/*ABOUT SECTION ========================== */

.DumboImage{
	background-image: url('../Images/Dumbo.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	float: left;
}
.FavoritesImage{
	background-image: url('../Images/Coffees.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	display: inline-block;
}
.SeasonalsImage{
	background-image: url('../Images/Seasonals.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	float: left;
}
.AmenitiesImage{
	background-image: url('../Images/Amenities.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	display: inline-block;
}
.AboutDescription1{
	width: 50%;
	height: 300px;
	display: inline-block;
}
.AboutDescription2{
	width: 50%;
	height: 300px;
	float: left;
}
.AboutDescriptionSub1{
	display: block;
	width: 100%;
	height: 100px;
	padding-top: 100px;
	/* vertical-align: middle; */
}
.AboutDescriptionSub2{
	display: block;
	width: 100%;
	height: 100px;
}
.AboutDescriptionSub2:hover{
	font-size: 1.5em;
	transition-duration: 0.2s;
	cursor: pointer;
	font-weight: bold;
}
@media (max-width: 1000px){
	.DumboImage, .FavoritesImage, .SeasonalsImage, .AmenitiesImage{
		float: none;
		display: block;
		width: 100%;
		height: 300px;
	}
	.AboutDescription1, .AboutDescription2{
		float: none;
		display: block;
		/* width: 100vw; */
		height: 300px;
		margin: auto;
		width: 80%;
	}
}


/*FAVORITES SECTION ====================== */
.Favorites{
	margin-top: -2.75px;
}
.FavoriteTreats{
	margin: 30px auto;
	display: flex;
	flex-grow: row;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
}
.FavoriteTreat{
	width: 300px;
	margin: auto;
	text-align: center;
	/* position: relative; */
	display: inline-block;
	align-self: flex-start;
	margin: 20px;
}
.FavoriteName{
	margin: 10px auto;
}
.FavoriteDescription{
	height: 72px;
}
.WhippedCoffee, .CinnamonLatte, .HotChocolate, .CoffeeRoll, .DevilsFoodCake, .Brownie{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.WhippedCoffee{
	background-image: url('../Images/WhippedCoffee.jpg');
}
.CinnamonLatte{
	background-image: url('../Images/CinnamonLatte.jpg');
}
.HotChocolate{
	background-image: url('../Images/HotChocolate.jpg');
}
.CoffeeRoll{
	background-image: url('../Images/CinnamonCoffeeRoll.jpg');
}
.DevilsFoodCake{
	background-image: url('../Images/DevilsFoodCake.jpg');
}
.Brownie{
	background-image: url('../Images/Brownie.jpg');
}
@media (max-width: 750px){
	.Favorite{
		text-align: center;
	}
}


/* AMENITIES SECTION ==================== */

.AmenitySection{
	width: 100%;
	margin: 20px auto;
	display: block;
}
.AmenityDescription{
	width: 40%;
	height: 300px;
	margin: 5%;
	/* padding-top: 50px; */
	float: left;
	line-height: 2em;
}
.Bakery, .Seating, .Wifi, .WorkStation, .Events{
	background-position: center;
	background-size: cover;
	width: 40%;
	height: 350px;
	margin: 5%;
	display: inline-block;
}
.Bakery{
	background-image: url('../Images/Bakery.jpg');
}
.Seating{
	background-image: url('../Images/Seats.jpg');
}
.Wifi{
	background-image: url('../Images/Wifi.jpg');
}
.WorkStation{
	background-image: url('../Images/WorkStation.jpg');
}
.Events{
	background-image: url('../Images/LiveMusic.jpg');
}
@media (max-width: 900px){
	.Bakery, .Seating, .Wifi, .WorkStation, .Events{
		display: block;
		width: 75%;
		margin: 10px auto;
	}
	.AmenityDescription{
		display: block;
		float: none;
		width: 75%;
		margin: auto;
		height: inherit;
	}
	.AmenitySection{
		margin: 50px auto;
	}
	.Amenity{
		margin: 10px auto;
	}
}
@media (max-width: 600px){
	.Bakery, .Seating, .Wifi, .WorkStation, .Events{
		width: 100%;
	}
	.AmenityDescription{
		width: 100%;
		text-align: center;
	}
}




/*SEASONALS SECTION ====================== */
.Seasonals{
	padding: 50px;
	text-align: center;
	color: white;
	background-color: black;
}
.SeasonalSection{
	margin: 20px auto;
	display: block;
}
.SeasonalsDescription{
display: inline-block;
width: 40%;
margin: 5%;
height: 350px;
/* padding-top: 50px; */
line-height: 2em;
}
.IrishCoffee, .CoffeeWeek, .Thanksgiving, .Christmas{
	background-position: center;
	background-size: cover;
	width: 40%;
	height: 350px;
	margin: 5%;
	float: left;
}
.IrishCoffee{
	background-image: url('../Images/IrishCoffee.jpg');
}
.CoffeeWeek{
	background-image: url('../Images/CoffeeWeek.jpg');
}
.Thanksgiving{
	background-image: url('../Images/Thanksgiving.jpg');
}
.Christmas{
	background-image: url('../Images/Christmas.jpg');
}
.Date{
	margin-top: 20px;
}
@media (max-width: 900px){
	.IrishCoffee, .CoffeeWeek, .Thanksgiving, .Christmas{
		width: 70%;
		display: block;
		float: none;
		margin: 5% auto;
	}
	.SeasonalsDescription{
		width: 70%;
		display: block;
		margin: 5% auto;
		height: inherit;
	}
	.SeasonalSection{
		margin: 60px auto;
	}
}
@media (max-width: 550px){
	.IrishCoffee, .CoffeeWeek, .Thanksgiving, .Christmas{
		width: 100%;
	}
	.SeasonalsDescription{
		width: 90%;
		text-align: center;
	}
}

/* BARISTAS SECTION ========================== */
.Barista{
	width: 100%;
	padding: 0px;
	margin: 20px auto;
	display: block;
}
.BaristaDescription{
	width: 40%;
	height: 350px;
	margin: 5%;
	line-height: 2em;
	display: inline-block;
}
.BaristaImage1, .BaristaImage2, .BaristaImage3,.BaristaImage4{
	background-position: center;
	background-size: cover;
	width: 40%;
	height: 350px;
	margin: 5%;
	float: left;
}
.BaristaImage1{
	background-image: url('../Images/MaleBarista.jpeg');
}
.BaristaImage2{
	background-image: url('../Images/FemaleBarista.jpeg');
}
.BaristaImage3{
	background-image: url('../Images/MaleBarista2.jpeg');
}
.BaristaImage4{
	background-image: url('../Images/FemaleBarista2.jpeg');
}
@media (max-width: 900px){
	.BaristaImage1, .BaristaImage2, .BaristaImage3,.BaristaImage4 {
		width: 75%;
		margin: 5% auto;
		display: block;
		float: none;
	}
	.BaristaDescription{
		width: 75%;
		margin: 5% auto;
		display: block;
		height: inherit;
	}
	.Barista{
		margin: 50px auto;
	}
}
@media (max-width: 600px){
	.BaristaImage1, .BaristaImage2, .BaristaImage3,.BaristaImage4{
		width: 100%;
	}
	.BaristaDescription{
		width: 100%;
	}
}




/*CONTACT SECTION ========================= */
.FormMap{
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
	width: 1200px;
}
#map{
	background-image: url('../Images/Location.png');
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 615px;
	/* float: left; */
	position: relative;
	/* justify-content: space-evenly; */
}
.MapAddress{
	visibility: hidden;
}
#map:hover .MapAddress{
	visibility: visible;
	position: absolute;
	width: 500px;
	text-align: center;
	top: 40%;
	color: white;
	line-height: 2em;
}
#map:hover .MapOverlay{
	cursor: pointer;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.ContactForm{
 	width: 500px;
 	height: 615px;
	color: white;
	background-color: black;
	/* display: inline-block; */
	/* justify-content: space-evenly; */
}
.ContactFormMessage{
	text-align: center;
	padding: 20px;
	line-height: 1.5em;
	position: relative;
}
.ContactForm fieldset{
	margin: 10px auto;
	text-align: center;
}
.ContactForm input{
	font-family: 'Open Sans', sans-serif;
	width: 300px;
	height: 30px;
	border-radius: 5px;
	padding: 5px;
}
.ContactForm textarea{
	font-family: 'Open Sans', sans-serif;
	width: 293px;
	height: 200px;
	border-radius: 5px;
	padding: 10px;
	resize: none;
}
.SubmitButton{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	width: 100px;
	line-height: 30px;
	margin: auto 90px auto auto;
	background-color: white;
	color: black;
	border-style: none;
	border-radius: 5px;
	position: relative;
	float: right;
}
.SubmitButton:hover{
	cursor: pointer;
	background-color: #656668;
	color: #fff;
}
@media (max-width: 1200px) {
	.FormMap{
		justify-content: column;
		display: block;
		margin: auto;
		text-align: center;
		width: 100%;
	}
	#map{
		display: block;
		margin: 50px auto;
	}
	.ContactForm{
		display: block;
		margin: 50px auto;
	}
}
@media (max-width: 600px){
	#map{
		width: 90%;
		margin: 50px auto;
	}
	.ContactForm{
		width: 90%;
		height: 650px;
		margin: 50px auto;
	}
	.ContactForm input, .ContactForm textarea{
		width: 90%;
	}
	.SubmitButton{
		float: none;
		margin: auto;
	}
	.MapAddress{
		max-width: 100%;
		left: auto;
	}
}










/* ANIMATIONS ============================== */
