
/*PAGE SECTIONS ========================== */

.LandingSection{
	background-image: url('../Images/LandingPage.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.CoffeeShop{
	font-family: 'Open Sans', sans-serif;
}
.AboutSection{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	height: 99%;
}
.FavoritesSection{
	font-family: 'Open Sans', sans-serif;
}
.AmenitiesSection{
	font-family: 'Open Sans', sans-serif;
}
.SeasonalsSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background-color: #ffccb3
}
.BaristasSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;

}
.ContactSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background-color: #b3ecff
}

/* NAV BAR =============================== */






/* LANDING SECTION ======================= */

.LandingSectionDescription{
	position: relative;
	top: 30%;
	text-align: center;
	font-size: 4em;
}
.CoffeeShop{
	background-image: url('../Images/CoffeeShop.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
}
.SeeMore{
	text-align: center;
	position: relative;
	top: 80%;
}




/*ABOUT SECTION ========================== */

.AboutUs{
	padding: 50px;
	background-color: black;
	color: white;
	/* font-size: 3em; */
}
.DumboImage{
	background-image: url('../Images/Dumbo.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	float: left;
}
.FavoritesImage{
	background-image: url('../Images/Coffees.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	display: inline-block;
}
.SeasonalsImage{
	background-image: url('../Images/Seasonals.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	float: left;
}
.AmenitiesImage{
	background-image: url('../Images/Amenities.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 300px;
	display: inline-block;
}
.AboutDescription1{
	width: 50%;
	height: 300px;
	display: inline-block;
}
.AboutDescription2{
	width: 50%;
	height: 300px;
	float: left;
}
.AboutDescriptionSub1{
	display: block;
	width: 100%;
	line-height: 200px;
	vertical-align: center;
}
.AboutDescriptionSub2{
	display: block;
	width: 100%;
	height: 100px;
}
.AboutDescriptionSub2:hover{
	font-size: 1.5em;
	transition-duration: 0.2s;
	cursor: pointer;
	font-weight: bold;
}






/*FAVORITES SECTION ====================== */
.Favorites{
	padding: 50px;
	text-align: center;
	color: white;
	background-color: black;
	margin-top: -2.75px;
}
.FavoritesTitle{
	margin: 10px auto;
	text-align: center;
}
.FavoritesSubTitle{
	margin: 0px auto 20px auto;
	text-align: center;
}
.FavoriteTreats{
	margin: 30px auto;
	display: flex;
	flex-grow: row;
	justify-content: space-evenly;
	align-items: flex-start;
}
.FavoriteTreat{
	width: 300px;
	margin: auto;
	text-align: center;
	/* position: relative; */
	display: inline-block;
	align-self: flex-start;
}
.FavoriteName{
	margin: 10px auto;
}
.FavoriteDescription{
	height: 72px;
}
.WhippedCoffee{
	background-image: url('../Images/WhippedCoffee.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.CinnamonLatte{
	background-image: url('../Images/CinnamonLatte.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.HotChocolate{
	background-image: url('../Images/HotChocolate.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.CoffeeRoll{
	background-image: url('../Images/CinnamonCoffeeRoll.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.DevilsFoodCake{
	background-image: url('../Images/DevilsFoodCake.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}
.Brownie{
	background-image: url('../Images/Brownie.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
}










/*SEASONALS SECTION ====================== */

















/*CONTACT SECTION ========================= */
