
/*PAGE SECTIONS ========================== */

.LandingSection{
	background-image: url('../Images/LandingPage.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.CoffeeShop{
	font-family: 'Open Sans', sans-serif;
}
.AboutSection{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.SeasonalsSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background-color: #ffccb3
}
.BaristasSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;

}
.ContactSection{
	font-family: 'Open Sans', sans-serif;
	height: 100vh;	
	background-color: #b3ecff
}





/* LANDING SECTION ======================= */

.LandingSectionDescription{
	position: relative;
	top: 30%;
	text-align: center;
	font-size: 4em;
}
.CoffeeShop{
	background-image: url('../Images/CoffeeShop.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
}
.SeeMore{
	text-align: center;
	position: relative;
	top: 80%;
}




/*ABOUT SECTION ========================== */

.AboutImage{
	background-image: url('../Images/LatteArt.jpg');
	background-size: cover;
	background-position: center;
	width: 45%;
	height: 500px;
	margin: 2.5%;	
	display: inline-block;
}
.DumboImage{
	background-image: url('../Images/Dumbo.jpg');
	background-size: cover;
	background-position: center;
	width: 45%;
	height: 500px;
	margin: 2.5%;
	float: left;	
}
.AboutDescription{
	display: inline-block;
	width: 45%;
	line-height: 500px;
	padding: 2.5%;
	vertical-align: center;
}
.AboutDescriptionFloat{
	float: left;
	width: 45%;
	line-height: 500px;
	padding: 2.5%;
	vertical-align: center;
}






/*SEASONALS SECTION ====================== */














/*SEASONALS SECTION ====================== */










/*CONTACT SECTION ========================= */


















